Background reading: http://mlwave.com/kaggle-ensembling-guide/

In [1]:
import pandas as pd

In [6]:
# Load submission files
log_model = pd.read_csv('submission_logistic.csv')
forest_model = pd.read_csv('submission_forest.csv')
gb_model = pd.read_csv('submission_gradientboost.csv')

In [3]:
log_model.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [4]:
forest_model.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         1
3          895         1
4          896         0

In [9]:
gb_model.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [5]:
forest_model['Survived'].corr(log_model['Survived'])

0.67489754518864065

In [7]:
forest_model['Survived'].corr(gb_model['Survived'])

0.77175624731377013

In [8]:
log_model['Survived'].corr(gb_model['Survived'])

0.74390403528168125